/*
Beat Template
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  /*font-size: .875rem;*/
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*background: #87afcd;*/
    background: #f3f7fa;
    color: #4a596a;
}
button, input, optgroup, select, textarea{
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
}

@media (max-width: 767.98px) {
  .sidebar {
    /*top: 5rem;*/
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  position: relative;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
  position: relative;
  top: -2px;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand,.template-name{
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /*background-color: rgba(0, 0, 0, .25);*/
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
  text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 9px rgba(0, 0, 0, 0.1);
  color: #4a596a;
  font-size: 20px;
  font-weight: bold;
}
.template-name{
  display: none;
}
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
header{
  /*padding: 10px 0 !important;*/
  background: #f3f7fa;
}
#sidebarMenu{
  background: #f3f7fa;
}
header .nav-link{
  line-height: 35px;
}
.navbar-beat .navbar-nav .nav-link{
  padding-left: 10px;
  padding-right: 10px;
}
.beat-profile-toogle.dropdown-toggle::after{
  display: none;
}
.beat-profile-toogle.dropdown-toggle img{
  border-radius: 50%;
    /*width: 35px;*/
    /*height: 35px;*/
    border: 1px solid #fff;
    /*margin-left: 20px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}
.beat-dropdown-menu.beat-notification{
  background: #f3f7fa;
  width: 330px;
  -webkit-transform: translate(-15px, 0);
    -o-transform: translate(-15px, 0);
    transform: translate(-15px, 0);
    border: 1px solid #FFF;
}
.beat-dropdown-menu.beat-notification .dropdown-item{
  position: relative;
  max-height: 90px;
  overflow: hidden;
}
.beat-dropdown-menu.beat-notification .dropdown-item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    -webkit-box-shadow: 0px -20px 20px -10px #f3f7fa inset;
    box-shadow: 0px -20px 20px -10px #f3f7fa inset;
}
.beat-dropdown-menu.beat-notification p{
  margin: 0px;
  font-size: 14px;
  /*color: #4a596a;*/
}
.beat-dropdown-menu.beat-notification h6{
  white-space: normal;
  /*word-break: break-all;*/
  line-height: 1.4;
  margin: 0;
  font-size: 14px;
}
.beat-dropdown-menu.beat-notification .dropdown-item.beat-all-notifications::after {
  display: none;
}
.beat-all-notifications{
  margin: 20px 0 0;
}
.beat-dropdown-menu.beat-notification .dropdown-item:focus,
.beat-dropdown-menu.beat-notification .dropdown-item:hover{
  background: transparent;
}
.beat-dropdown-menu.beat-notification .dropdown-item svg{
  margin-right: 2px;
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.beat-username{
  /*min-width: 150px;*/
}
.beat-username > a{
    font-weight: bold;
    text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 9px rgba(0, 0, 0, 0.1);
    color: #4a596a;
    text-decoration: none;
}

.beat-search{
  max-width: 300px;
  border: 1px solid transparent;
  border-bottom:1px solid rgba(95, 143, 223, 0.2);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    left: 250px;
}
.beat-search.shift-search{
  left: 100px;
}
.beat-search:focus-within{
    -webkit-box-shadow: 0 3px 6px 0 rgba(40, 40, 90, 0.09), 0 1px 1px 0 rgba(0, 0, 0, 0.065);
    box-shadow: 0 3px 6px 0 rgba(40, 40, 90, 0.09), 0 1px 1px 0 rgba(0, 0, 0, 0.065);
    background: #FFF;
    border: 1px solid #5f8fdf;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
}
.beat-search .input-group-text{
  background: none;
  border: none;
}
.beat-search input{
  padding: 0 15px !important;
  background: transparent;
}
.beat-search input:focus{
  border: none;
  outline: none;
  background: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.beat-dropdown-menu{
    /*position: absolute;
    top: 0;
    left: 0;
    z-index: 10;*/
    padding: 10px 0;
    /*margin: 5px 0;*/
    background-color: #FFFFFF;
    border: 1px solid #EBEEF5;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
    /*opacity: 0;*/
    /*max-height: 0;*/
}
.beat-dropdown-menu.show{
  /*opacity: 1;*/
  /*max-height: 300px;*/
  -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
    display: block;
    overflow: hidden;
    min-width: auto;
}
.beat-dropdown-menu li a{
  font-size: 14px;
  color: #606266;
  line-height: 36px;
  padding: 0 15px;
}
.beat-dropdown-menu .dropdown-item svg{
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.beat-dropdown-menu .dropdown-item:focus,
.beat-dropdown-menu .dropdown-item:hover{
  background-color: #eff4fc;
  color: #7fa5e5;
}
.fa-minimize,
.fa-expand,
.fa-bell{
      color: #4a596a;
      color: rgba(74, 89, 106, 0.3);
}
.fa-minimize:hover,
.fa-expand:hover,
.fa-bell:hover{
  color: #5f8fdf;
}
.beat-bell{
  position: relative;
}
.beat-bell:after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ec205f;
  border: 1px solid #FFF;
  position: absolute;
  top: -5px;
  right: -5px;
}
.btn-collapse:hover,
.btn-collapse{
  border-radius: 4px;
    border: none;
    color: #5f8fdf;
    background: #dfe8f9;
    font-weight: 600;
    padding: 4px 8px;
    margin-top: 20px;
    font-size: 12px;
    margin-left: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
#sidebarMenu.beat-micro-sidebar{
  /*background: lime;*/
  width: 74px;
  width: 64px;
  margin: 0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu.beat-micro-sidebar .beat-subnav:hover .beat-subnav-collapse{
  display: block;
}
#sidebarMenu.beat-micro-sidebar a.nav-link{
  text-align: center;
  line-height: 38px;
}
#sidebarMenu.beat-micro-sidebar a.nav-link:hover{
  background: #4a596a;
  background: #e7eaed;
}
#sidebarMenu a.nav-link span{
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}
#sidebarMenu:not(.beat-micro-sidebar) .btn-collapse .feather-maximize-2,
#sidebarMenu.beat-micro-sidebar .btn-collapse .feather-minimize-2,
#sidebarMenu.beat-micro-sidebar .btn-collapse span,
#sidebarMenu.beat-micro-sidebar a.nav-link span{
  /*display: none;*/
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu.beat-micro-sidebar a.nav-link:hover svg,
#sidebarMenu.beat-micro-sidebar a.nav-link svg{
  color: #4a596a;
}
#sidebarMenu{
  width: 230px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu + main{
  width: calc(100vw - 230px);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 50px;
}
#sidebarMenu.beat-micro-sidebar + main{
  width: calc(100vw - 74px);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu h5{
  padding: 0.2rem 1rem;
  line-height: normal;
  font-size: 12px;
  color: #909399;
  margin: 20px 0px 0px;
}
#sidebarMenu.beat-micro-sidebar h5{
  text-align: center;
}
.sidebar:not(.beat-micro-sidebar) .nav-link::before{
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      position: absolute;
      bottom: 7px;
      left: 20px;
      background: #4a596a;
      z-index: 1;
      opacity: 0;
      /*opacity: 1;*/
      /*width: 100px;*/
      -webkit-transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
      transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:not(.beat-micro-sidebar) .nav-link:hover::before {
      width: 100px;
      opacity: 1;
      -webkit-transform: translate(20px, 0);
              transform: translate(20px, 0);
}
.sidebar .nav-link.active{
  color: #5f8fdf;
}
.beat-panel{
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 16px 0 rgba(40, 40, 90, 0.09), 0 3px 6px 0 rgba(0, 0, 0, 0.065);
    box-shadow: 0 8px 16px 0 rgba(40, 40, 90, 0.09), 0 3px 6px 0 rgba(0, 0, 0, 0.065);
}
.p-20{
  padding: 20px;
}

.beat-menu-collapse ul{
  list-style-type: none;
  border-left: 2px solid #4a596a;
  padding-left: 5px;
  margin-left: 22px;
}
.beat-menu-collapse ul li a{
  text-decoration: none;
  color: #4a596a;
  line-height: 40px;
  font-size: 14px;
}
.beat-text-shadow{
  text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 9px rgba(0, 0, 0, 0.1);
}

.beat-subnav a.nav-link .feather-chevron-down,
.beat-subnav a.nav-link .feather-chevron-up{
  position: absolute;
  right: 15px;
  top: 12px;
}
.beat-subnav .feather-chevron-up{
  display: none;
}
.beat-subnav .feather-chevron-down{
  /*display: none;*/
}
.beat-subnav a.nav-link[aria-expanded="true"] .feather-chevron-down{
  display: none;
}
.beat-subnav a.nav-link[aria-expanded="true"] .feather-chevron-up{
  display: inline-block;
}
.beat-subnav .dropdown-menu.show{
  left: 65px;
  top: 5px;
  position: absolute;
}
.beat-micro-sidebar .beat-subnav{
  position: relative;
}
.beat-micro-sidebar .beat-subnav-collapse{
  position: absolute;
  left: 65px;
  top: 5px;
  top: 0px;
  background: #FFF;
  z-index: 100;
  min-width: 200px;
  border: none;
  padding: 5px 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.beat-micro-sidebar .beat-subnav-collapse li a{
  padding: 0 20px;
}
.beat-micro-sidebar .beat-subnav-collapse li:hover{
  background: #f7f9fb;
}
.beat-micro-sidebar .beat-menu-collapse ul{
  border: none;
  margin: 0px;
  padding: 0px;

}
.beat-title{
  margin: 0 0 15px;
  text-shadow: 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 1px 2px rgba(0,0,0,.3), 0 3px 9px rgba(0,0,0,.1);
  color: #4a596a;
  font-size: 2em;
}
.beat-breadcrumb{
  margin: 0 0 45px;
}
.beat-breadcrumb .feather{
  width: 15px;
  height: 15px;
  position: relative;
  top: -4px;
}
.beat-breadcrumb .breadcrumb-item a{
  color: #4a596a;
}
.beat-table-panel{
  -webkit-box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
    box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
    border-radius: 5px;
    overflow: hidden;
}
.beat-table-panel table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
    background: #FFF;
}

.beat-table-panel table thead {
    background: #fbfdfd;
    border-bottom: 2px solid #f6f9fb;

    background: rgba(243,247,250,.3);
    border-bottom: 2px solid rgba(243,247,250,.5);
}

.beat-table-panel table thead tr th {
    padding: 12px 20px;
    color: rgba(74,89,106,.4);
}
.beat-table-panel table thead tr{
    background: #fbfdfd;
    border-bottom: 2px solid #f6f9fb;
}

.beat-table-panel table tbody tr td {
    padding: 12px 20px
}

.beat-table-panel table tbody tr:nth-child(2n) {
    background: #fafcfd;
    background: rgba(243,247,250,.4);
}
.beat-nav-tabs{
  margin-left: -1px;
  background-color: #f5f7fa;
}
.beat-border{
  border: 1px solid #dcdfe6;
}
.beat-nav-tabs .nav-link{
  border-radius: 0px;
  border-top: none;
}
.beat-nav-tabs .nav-link{
  color: #909399;
}
.beat-nav-tabs .nav-link.active{
  color: #5f8fdf;
}
.beat-tab-content{
  background: #FFF;
  padding: 20px;
}
.beat-tab-content .nav-tabs{
  background-color: #f5f7fa;
}
.beat-tab-content .tab-pane{
  max-width: 1100px;
  margin: 0 auto;
}
.beat-tab-content h1{
  line-height: 44px;
  font-size: 2em;
  color: #000;
  font-weight: 700;
  margin: 20px 0;
}
.beat-tab-content p{
  color: #000;
  font-size: 16px;
  margin: 0 0 1em;
}
.beat-blockquote{
  border-left: 5px solid rgba(74,89,106,.1);
  font-style: italic;
  padding: 5px 20px;
  margin: 0 0 20px;
}

.back-to-top{
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 4px;
  border: none;
  color: #5f8fdf;
  background: #dfe8f9;
  padding: 4px 8px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  opacity: 0;
}
.back-to-top:hover{
  border: 2px solid #5f8fdf;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.back-to-top svg{
  width: 32px;
  height: 32px;
}
.show_top_btn{
  opacity: 1;
}

.beat-auth{
  background: #4a596a;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.beat-auth-panel{
  -webkit-box-shadow: 0 40px 90px 0 rgba(40, 40, 90, 0.09), 0 13px 30px 0 rgba(40, 40, 90, 0.09), 0 4px 13px 0 rgba(0, 0, 0, 0.065);
    box-shadow: 0 40px 90px 0 rgba(40, 40, 90, 0.09), 0 13px 30px 0 rgba(40, 40, 90, 0.09), 0 4px 13px 0 rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    background: #FFF;
    padding: 30px;
    max-width: 340px;
    width: 340px;
    margin: 0 auto;
}
.beat-auth-panel h2{
  margin: 0 0 50px;
  text-align: center;
  margin: 0 0 15px;
  text-shadow: 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 0 1px #f3f7fa, 0 1px 2px rgba(0,0,0,.3), 0 3px 9px rgba(0,0,0,.1);
  color: #4a596a;
  font-size: 2em;
  font-weight: 700;
  line-height: 80px;
}
.beat-login-right .login-block input.form-control,
.beat-auth-panel input.form-control{
  border: none;
  border-bottom: 2px solid rgba(74, 89, 106, 0.15);
  width: 100%;
  padding: 0;
  padding-bottom: 4px;
  font-size: 16px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border-radius: 0px;
  color: #4a596a;
}
.beat-login-right .login-block input.form-control{
  margin-bottom: 20px;
}
.beat-login-right .login-block input.form-control:focus,
.beat-auth-panel input.form-control:focus{
  border-color: #5f8fdf;
}
.beat-login-right .login-block input.form-control:focus,
.beat-auth-panel input.form-control:focus{
  outline: none;
  box-shadow: none;
}

.beat-auth-panel .btn-beat-submit{
  display: block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-color: #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
  margin: 30px auto 0;
}
.beat-auth-panel .btn-beat-submit:hover{
  color: #5f8fdf;
  border-color: #5f8fdf;
}

/* text divider */
.text-divider {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center; 

}
.text-divider::before {
    content: '';
    height: 1px;
    background: rgba(74, 89, 106, 0.3);
    -ms-flex: 1 1 100%;
    -webkit-box-flex: 1;
            flex: 1;
    margin: 0 10px 0 0; 
}
.text-divider::after {
    content: '';
    height: 1px;
    background: rgba(74, 89, 106, 0.3);
    -ms-flex: 1 1 100%;
    -webkit-box-flex: 1;
            flex: 1;
    margin: 0 0 0 10px; 
  }
.signin{
  font-size: 14px;
  text-align: center;
  line-height: 1.4;
  color: #4a596a;
  padding-top: 20px;
}
.beat-auth.login2 .beat-label,
.beat-auth-panel .beat-label{
  margin: 0px;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0;

}
.beat-auth.login2 .beat-label.beat-label-focus,
.beat-auth-panel .beat-label.beat-label-focus{
  opacity: 1;
  color: #5f8fdf;
}
.beat-auth.login2 .beat-label.beat-label-unfocus,
.beat-auth-panel .beat-label.beat-label-unfocus{
  opacity: 1;
  color: rgba(74,89,106,.4);
}
.beat-auth-panel.login-box input.form-control{
  margin: 0 0 20px;
}
.beat-auth-panel.login-box .form-check{
  font-size: 14px;
  color: #4a596a;
}
.beat-auth-panel.login-box .form-check .form-check-input{
  position: relative;
  top: -2px;
}
.beat-auth-panel.login-box .form-check .form-check-input:focus{
  box-shadow: none;
}
.beat-auth-panel.login-box .form-check .form-check-input:checked{
  background-color: #5f8fdf;
  border-color: #5f8fdf;
  box-shadow: none;
}
.beat-auth-panel.login-box .form-check .form-check-input:checked + label{
  color: #5f8fdf;
}
.beat-auth-panel.login-box a.forgot-link{
  font-size: 14px;
  color: #4a596a;
  display: block;
  text-align: right;
  text-decoration: none;
}
.beat-login-right .login-block  .btn-beat-login,
.beat-auth-panel.login-box .social-btn,
.beat-auth-panel.login-box .btn-beat-login{
  color: #606266;
  border-color: #606266;
  border-width: 2px;
  font-weight: bold;
  border-radius: 0;
  font-size: 12px;
  margin: 20px auto;
  padding: 9px 15px;
  display: block;
  width: 160px;
  line-height: 1;
}
.beat-login-right .login-block  .btn-beat-login{
  margin-top: 40px;
}
.beat-auth-panel.login-box .social-btn{
    color: #FFF;
    border: 1px solid #DCDFE6;
    font-weight: normal;
    margin: 10px auto 0;
}
.social-btn.google{
    background-color: #d73d32;
    margin-top: 20px !important;
}
.social-btn.facebook{
    background-color: #3f5c9a;
    margin-bottom: 20px !important;
}
.beat-auth-panel.login-box input.form-control::-webkit-input-placeholder {
   color: rgba(74, 89, 106, 0.55);
}

.beat-auth-panel.login-box input.form-control:-moz-placeholder {
   color: rgba(74, 89, 106, 0.55);  
}

.beat-auth-panel.login-box input.form-control::-moz-placeholder {
   color: rgba(74, 89, 106, 0.55);  
}

.beat-auth-panel.login-box input.form-control:-ms-input-placeholder {  
   color: rgba(74, 89, 106, 0.55);  
}
.beat-login-left:after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(171,171,171,1) 100%);   /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(171,171,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(171,171,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(171,171,171,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%,rgba(171,171,171,1) 100%); /* IE10+ */
    background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(171,171,171,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */
    height: 100vh;
}
.beat-login-left{
  background-image: url('../Images/bg-login2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  text-align: center;
  padding: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.beat-auth.login2{
  display: block;
  background: #FFF;
}
.beat-auth.login2 h2{
  font-size: 3.5em;
  color: #4a596a;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  margin: 0 0 100px;
}
.beat-auth.login2 h2 + p{
  color: #FFF;
}
.beat-login-right{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.beat-login-right .login-block h3{
  color: #4a596a;
  font-size: 1.5em;
  margin: 0 0 1em;
  font-weight: bold;
}
.beat-login-right .login-block h4{
  font-size: 16px;
  color: #4a596a;
  margin: 0 0 40px;
}
.beat-info{
  -webkit-box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
    box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 30px;
}
.beat-info .beat-info-top{
  padding: 20px 20px 0;
  padding: 20px;
}
.beat-info .info-type{
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    text-align: center;
    padding: 10px 5px 5px;
    width: 75px;
    color: #5f8fdf;
}
.beat-info .info-type > i{
  font-size: 24px;
}
.beat-info .info-type p{
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 700;
}
.beat-info .info-type p i{
  color: #13ce66;
  font-size: 12px;
}
.beat-info .right-info p{
  color: #4a596a;
  opacity: 0.5;
  font-weight: bold;
  margin: 10px 0;
}
.beat-info .right-info h4{
  color: #4a596a;
  font-size: 1.5em;
  font-weight: bold;
}
.beat-green{
  color: #13ce66 !important;
}
.beat-gray{
  color: #909399 !important;
}
.beat-blue-chart{
  background-color: #5f8fdf !important;
}
.beat-blue-chart h1{
  color: #FFF;
  font-size: 2em;
  font-weight: bold;
}
.beat-blue-chart p{
  color: #FFF;
  font-size: 1.17em;
  opacity: 0.5;
  font-weight: bold;
  margin: 0 0 40px;
}