/*
Beat Template
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  /*font-size: .875rem;*/
  /*font-family: 'Nunito Sans', sans-serif;*/
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*overflow: hidden;*/
    /*position: fixed;*/
    /*background: #87afcd;*/
    background: #f3f7fa;
    color: #4a596a;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  position: relative;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
  position: relative;
  top: -2px;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /*background-color: rgba(0, 0, 0, .25);*/
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
  text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 9px rgba(0, 0, 0, 0.1);
  color: #4a596a;
  font-size: 20px;
  font-weight: bold;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
header{
  /*padding: 10px 0 !important;*/
  background: #f3f7fa;
}
#sidebarMenu{
  background: #f3f7fa;
}
header .nav-link{
  line-height: 35px;
}
.navbar-beat .navbar-nav .nav-link{
  padding-left: 10px;
  padding-right: 10px;
}
.beat-profile-toogle.dropdown-toggle::after{
  display: none;
}
.beat-profile-toogle.dropdown-toggle img{
  border-radius: 50%;
    /*width: 35px;*/
    /*height: 35px;*/
    border: 1px solid #fff;
    /*margin-left: 20px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.beat-username > a{
    font-weight: bold;
    text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 9px rgba(0, 0, 0, 0.1);
    color: #4a596a;
    text-decoration: none;
}

.beat-search{
  max-width: 300px;
  border: 1px solid transparent;
  border-bottom:1px solid rgba(95, 143, 223, 0.2);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    left: 250px;
}
.beat-search.shift-search{
  left: 100px;
}
.beat-search:focus-within{
    -webkit-box-shadow: 0 3px 6px 0 rgba(40, 40, 90, 0.09), 0 1px 1px 0 rgba(0, 0, 0, 0.065);
    box-shadow: 0 3px 6px 0 rgba(40, 40, 90, 0.09), 0 1px 1px 0 rgba(0, 0, 0, 0.065);
    background: #FFF;
    border: 1px solid #5f8fdf;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
}
.beat-search .input-group-text{
  background: none;
  border: none;
}
.beat-search input{
  padding: 0 15px !important;
  background: transparent;
}
.beat-search input:focus{
  border: none;
  outline: none;
  background: transparent;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.beat-dropdown-menu{
    /*position: absolute;
    top: 0;
    left: 0;
    z-index: 10;*/
    padding: 10px 0;
    /*margin: 5px 0;*/
    background-color: #FFFFFF;
    border: 1px solid #EBEEF5;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
    /*opacity: 0;*/
    /*max-height: 0;*/
}
.beat-dropdown-menu.show{
  /*opacity: 1;*/
  /*max-height: 300px;*/
  -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
    display: block;
    overflow: hidden;
    min-width: auto;
}
.beat-dropdown-menu li a{
  font-size: 14px;
  color: #606266;
  line-height: 36px;
  padding: 0 20px;
}
.beat-dropdown-menu .dropdown-item svg{
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.beat-dropdown-menu .dropdown-item:focus,
.beat-dropdown-menu .dropdown-item:hover{
  background-color: #eff4fc;
  color: #7fa5e5;
}
.fa-minimize,
.fa-expand,
.fa-bell{
      color: #4a596a;
      color: rgba(74, 89, 106, 0.3);
}
.fa-minimize:hover,
.fa-expand:hover,
.fa-bell:hover{
  color: #5f8fdf;
}
.beat-bell{
  position: relative;
}
.beat-bell:after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ec205f;
  border: 1px solid #FFF;
  position: absolute;
  top: -5px;
  right: -5px;
}
.btn-collapse:hover,
.btn-collapse{
  border-radius: 4px;
    border: none;
    color: #5f8fdf;
    background: #dfe8f9;
    font-weight: 600;
    padding: 4px 8px;
    margin-top: 20px;
    font-size: 12px;
    margin-left: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
#sidebarMenu.beat-micro-sidebar{
  /*background: lime;*/
  width: 74px;
  width: 64px;
  margin: 0 5px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu.beat-micro-sidebar a.nav-link{
  text-align: center;
  line-height: 38px;
}
#sidebarMenu.beat-micro-sidebar a.nav-link:hover{
  background: #4a596a;
  background: #e7eaed;
}
#sidebarMenu a.nav-link span{
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
}
#sidebarMenu:not(.beat-micro-sidebar) .btn-collapse .feather-maximize-2,
#sidebarMenu.beat-micro-sidebar .btn-collapse .feather-minimize-2,
#sidebarMenu.beat-micro-sidebar .btn-collapse span,
#sidebarMenu.beat-micro-sidebar a.nav-link span{
  /*display: none;*/
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu.beat-micro-sidebar a.nav-link:hover svg,
#sidebarMenu.beat-micro-sidebar a.nav-link svg{
  color: #4a596a;
}
#sidebarMenu{
  width: 230px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu + main{
  width: calc(100vw - 230px);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 50px;
}
#sidebarMenu.beat-micro-sidebar + main{
  width: calc(100vw - 74px);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebarMenu h5{
  padding: 0.2rem 1rem;
  line-height: normal;
  font-size: 12px;
  color: #909399;
  margin: 20px 0px 0px;
}
#sidebarMenu.beat-micro-sidebar h5{
  text-align: center;
}
.sidebar:not(.beat-micro-sidebar) .nav-link::before{
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      position: absolute;
      bottom: 7px;
      left: 20px;
      background: #4a596a;
      z-index: 1;
      opacity: 0;
      /*opacity: 1;*/
      /*width: 100px;*/
      -webkit-transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
      transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:not(.beat-micro-sidebar) .nav-link:hover::before {
      width: 100px;
      opacity: 1;
      -webkit-transform: translate(20px, 0);
              transform: translate(20px, 0);
}
.sidebar .nav-link.active{
  color: #5f8fdf;
}
.beat-panel{
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 8px 16px 0 rgba(40, 40, 90, 0.09), 0 3px 6px 0 rgba(0, 0, 0, 0.065);
    box-shadow: 0 8px 16px 0 rgba(40, 40, 90, 0.09), 0 3px 6px 0 rgba(0, 0, 0, 0.065);
}
.p-20{
  padding: 20px;
}

.beat-menu-collapse ul{
  list-style-type: none;
  border-left: 2px solid #4a596a;
  padding-left: 5px;
  margin-left: 22px;
}
.beat-menu-collapse ul li a{
  text-decoration: none;
  color: #4a596a;
  line-height: 40px;
  font-size: 14px;
}
.beat-text-shadow{
  text-shadow: 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 0px 1px #f3f7fa, 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 3px 9px rgba(0, 0, 0, 0.1);
}

.beat-subnav a.nav-link .feather-chevron-down,
.beat-subnav a.nav-link .feather-chevron-up{
  position: absolute;
  right: 15px;
  top: 12px;
}
.beat-subnav .feather-chevron-up{
  display: none;
}
.beat-subnav .feather-chevron-down{
  /*display: none;*/
}
.beat-subnav a.nav-link[aria-expanded="true"] .feather-chevron-down{
  display: none;
}
.beat-subnav a.nav-link[aria-expanded="true"] .feather-chevron-up{
  display: inline-block;
}
.beat-subnav .dropdown-menu.show{
  left: 65px;
  top: 5px;
  position: absolute;
}
.beat-micro-sidebar .beat-subnav{
  position: relative;
}
.beat-micro-sidebar .beat-subnav-collapse{
  position: absolute;
  left: 65px;
  top: 5px;
  background: #FFF;
  z-index: 100;
    min-width: 200px;
    border: none;
    padding: 5px 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.beat-micro-sidebar .beat-menu-collapse ul{
  border: none;


}